

body {
   font-family: "Noto Sans KR", sans-serif;
}

#background {
    background-image: url("/about-me/1.jpg");   
    width: 100vw;
    height: 150vh;
    position: absolute;
    z-index: -1000;
    opacity: 60%;
}

#screen {
    background-color: black;  
    width: 100vw;
    height: 150vh;
    position: absolute;
    z-index: -100;
    opacity: 70%;
}

header {
    text-align: center;
}



#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    height: 100vh;
}

.card {
    border : 1px solid black;
    aspect-ratio: 9/5;
    margin: 1rem auto;
    width: 40%;
    min-width : 600px;
    justify-self: center;
    box-shadow: 1.5px 1.5px rgb(103, 103, 103);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif;
}

.card:hover {
    transform: scale(1.1);
}

#mention {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mention img {
    width: 30%;
    border-radius: 10%;
}

#namecard1 h2 {
    text-align: center;
}

#dream  {
    width: 20%;
}

ul {
    /* text-align: center; */
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding : 0;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}


li p{
    margin: 1px;
}



#namecard1{
    background-color: #0A400C;
    color: #FEFAE0;
}

h2{
    margin: 1px;
}


#namecard1 p {
    margin: 0;
    font-size: 10px;
}

#namecard2 {
    background-color: #FEFAE0;
    color: #0A400C;
    padding: 1rem;
    padding-left: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    display: none;
}

#namecard2 p {
    font-size: 0.8rem;
}

#namecard2 h2 {
    font-size: 3rem;
}

#namecard2 h3 {
    font-size: 1.3rem;
}

