.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary-bright {
  background-color: var(--color-secondary-bright);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-white {
  background-color: var(--color-white);
}

.qna-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2.4rem;
}

.qna-container > h3 {
  font-size: var(--font-l);
  font-weight: bold;
}
/* 질문이 들어가는 부분 */
.qna-container > div {
  flex: 1 0 auto;
}
