.introduction{
    text-align: center;
}

.introduction_Title{
    
}

.introduction_paragraph{
    background: black;
    color: white;
}
.picture_layout{
    display: flex;
    flex-direction: row;
}

.img_regulation{
    width: 300px;
    height: 300px;
}

.picture_paragraph{
    
}
