body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #fffbef;
    color:#968369;
    padding:0;
    margin: 0;
}

header{
    background-color: #a3c5a3;
    padding:0.2em;
    color:#fffbef;
}

footer{
    background-color: #a3c5a3;
    padding: 2em 1em;
    text-align: center;
}
footer h2{
    color:#fffbef;
}
.footer-content{
    max-width: 900px;
    margin: 0 auto;
}
.footer-content a {
    margin: 0 1em;
    color:#faf2db;
    font-size: 1.5em;
    transition: color 0.3s;
}
.footer-content a:hover{
    color:#ffffff;
}

/*Profile*/
.profile{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:2em;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom:5em;
    margin-top:5em;
}
.profile-text{
    max-width:400px;
}
.profile img{
    width: 250px;
    height:250px;
    border-radius: 10%;
    object-fit: cover;
}
h1{
    margin:0;
    font-size: 3em;
    font-family: monospace;
    font-weight:bolder;
    color:#699669;
}
h2{
    font-family: monospace;
    font-weight: bolder;
}
main{
    padding-left: 5em;
    padding-right: 5em;
}