.introduction{
    text-align: center;
}

.introduction_Title{
    
}

.introduction_paragraph{
    background: black;
    color: white;
}

.rowFlex_layout{
    display: flex;
    flex-direction: row;
}

.verticalFlex_layout{
    display: flex;
    flex-direction: column;
}

.img_regulation{
    width: auto;
    height: 350px;
}

.picture_paragraph{
    margin-inline: 20px;
    padding: 20px;
    width: 500px;
    
    border: 2px solid black;
}


